node_modules/
.pnpm-store/
dist/
build/
.next/
.turbo/
coverage/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# prisma
apps/**/generated/
packages/**/generated/

# editor/os
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/
